.portfolio-container {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(2, 65, 23, 0.95)),
        url('../../assets/newbackground.webp');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    min-height: 100vh; 
    flex-direction: column;
    align-items: flex-start; 
    overflow-x: hidden; 
    padding-top: 10%;
    top: 50px;
    bottom: auto; 
}

.balance-section {
    background: rgba(3, 31, 9, 0.8);
    border-radius: 10px;
    padding: 20px 30px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
    width: 100%;
    max-width: 600px;
    height: 170px;
}

.balance-title {
    font-size: 32px;
    font-weight: 600;
    color: #e5ffe5;
    margin-bottom: 30px;
}

.balance-amount {
    font-size: 46px;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
}


.add-stock-form input {
    flex: 1;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    outline: none;
    font-size: 22px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.back-button {
    margin-top: 800px;
    left: 150px;
    height: 100px;
    padding: 20px;
    background: linear-gradient(95deg, #163b2c, #024117);
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.remove-button {
    height: 40px;
    background: linear-gradient(95deg, #572020, #b60b05);
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-align: center;
    line-height: 0px;
}

.back-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.actions-container {
    display: flex;
    align-items: center; /* Align the items vertically in the center */
    gap: 10px; /* Add space between each element */
}

.input-field {
    width: 100px; /* Set width of the input fields */
    padding: 5px;
    text-align: center; /* Center the numbers inside the input field */
}